include:
  - https://gitlab.com/jitesoft/gitlab-ci-lib/raw/master/container_scan.yml

stages:
  - build
  - scan

build:docker:
  stage: build
  image: registry.gitlab.com/jitesoft/dockerfiles/docker:latest
  variables:
    DOCKER_BUILDKIT: 1
  before_script:
    - apk add --no-cache wget grep
    - VERSION=$(wget -qO- https://github.com/keybase/bot-sshca/releases | grep -oP '(?<=releases\/tag\/)(.*?)(?=\">)' | awk 'NR==1{print $1}')
    - VERSION_SHORT=$(echo ${VERSION} | cut -d'-' -f 1)
  script:
    - docker build -t ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA} --label "com.jitesoft.app.keybase-sshca.verson=${VERSION}" --build-arg VERSION="${VERSION}" .
    - TAGS="latest ${VERSION} ${VERSION_SHORT}"
    - |
      for TAG in $TAGS; do
        docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA} ${CI_REGISTRY_IMAGE}:${TAG}
        docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA} jitesoft/keybase-sshca:${TAG}
        docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA} quay.io/jitesoft/keybase-sshca:${TAG}
        docker push ${CI_REGISTRY_IMAGE}:${TAG}
        docker push jitesoft/keybase-sshca:${TAG}
        docker push quay.io/jitesoft/keybase-sshca:${TAG}
      done

scan:
  stage: scan
  extends: .container_scanning
  variables:
    SCANNING_IMAGE_NAME: "${CI_REGISTRY_IMAGE}:latest"
